@font-face {
  font-family: 'ThePeak';
  src: url('./ThePeakFontBeta_V0_102.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  background: #aaa;

  --menu_width: 120px;
  --main_w: min(calc(100vw - var(--menu_width)), 1200px);
  --main_h: min(100vh, calc(var(--main_w) / 4 * 3));

  display: grid;
  overflow: hidden;
  grid-template-columns: var(--menu_width) var(--main_w);
  grid-template-rows: var(--main_h);
  grid-template-areas: "menu main";
  justify-content: center;
  align-content: center;
}
#insufficient_width { display: none; }
@media (max-width: 480px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: #eee;
  }
  #insufficient_width {
    display: block;
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  body #menu, body #main { display: none; }
}

/* ================================ */
/*  網址輸入                        */
/* ================================ */
#folder_url {
  all: unset;
  grid-area: main;
  margin: auto;
  position: relative;
  z-index: 1000;
  background: #fff;
  box-shadow: 4px 4px 4px #3333;
  border-radius: 4px;
  font-size: 14px;
  line-height: 36px;
  width: 70%;
  box-sizing: border-box;
  padding: 0 16px;
}

/* ================================ */
/*  選單                            */
/* ================================ */
#menu {
  grid-area: menu;
  background: #000c;
  backdrop-filter: blur(2px);
  padding: 4px;
  border-right: 2px solid #aaa;
  box-shadow: 0 8px 4px #0003;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "setting" "hr" "section_list" "next_btn";
}
#next_btn {
  all: unset;
  grid-area: next_btn;
  height: 48px;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 4px;
}
#next_btn:after {
  content: "";
  display: block;
  width: 18px;
  height: 22px;
  background: #fff;
  margin: auto;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
@media (max-width: 768px) {
  #next_btn { height: 36px; }
  #next_btn:after { width: 14px; height: 18px; }
}
@media (max-width: 640px) {
  #next_btn { height: 24px; }
  #next_btn:after { width: 10px; height: 14px; }
}

/* ================================ */
/*  設定區                          */
/* ================================ */
#setting label {
  all: unset;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin: 4px 0;
}
#setting [type="range"] {
  width: 100%;
  margin: 0;
  user-select: none;
}
#setting + hr {
  all: unset;
  display: block;
  width: 100%;
  height: 1px;
  background: #aaa;
  margin: 12px 0;
}

/* ================================ */
/*  片段列表                        */
/* ================================ */
#section_list {
  grid-area: section_list;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
}
#section_list button {
  all: unset;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  padding: 8px;
  text-align: center;
}
#section_list button:not(:first-child) {
  border-top: 1px solid #fff3;
}
@media (max-width: 560px) {
  body {
    --menu_width: 90px;
  }
  #section_list button {
    font-size: 12px;
    padding: 4px;
  }
}

/* ================================ */
/*  場景區                          */
/* ================================ */
#main {
  grid-area: main;
  background: var(--bg, none) no-repeat center / cover #eee;
  box-shadow: 4px 4px 4px 4px #0003;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: calc(var(--main_h) * 0.02) calc(var(--main_w) * 0.05);
  position: relative;
  overflow: hidden;
}
#effect_holder, #fight_canvas, #effect_holder canvas {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#fight_canvas {
  object-fit: contain;
}
#effect_holder .bg_effect {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--img, none) no-repeat center / cover;
}
#effect_holder .bg_show_img {
  user-select: none;
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 60%;
  object-fit: scale-down;
}

/* ================================ */
/*  文字特效                        */
/* ================================ */
.text_animation {
  position: absolute;
  bottom: 24%;
  width: 100%;
  left: 0;
  text-align: center;
  pointer-events: none;
  user-select: none;
  font-family: ThePeak;
  font-weight: bold;
  color: #fff;
  font-size: 32px;
  --lh: 42px;
  --ts: #000;
  text-shadow:
    0 0 1px var(--ts), 0 0 1px var(--ts), 0 0 1px var(--ts),
    0 0 1px var(--ts), 0 0 1px var(--ts), 0 0 1px var(--ts),
    0 0 1px var(--ts), 0 0 1px var(--ts), 0 0 1px var(--ts);
}
.text_animation[line="2"] { margin-bottom: var(--lh); }
.text_animation[line="3"] { margin-bottom: calc(var(--lh) * 2); }
.text_animation span {
  opacity: 1;
  transform: translateY(0);
  display: inline-block;
  transition: transform .6s, opacity .6s;
  line-height: var(--lh);
}
.text_animation span.hide {
  opacity: 0;
  transform: translateY(-1em);
}
@media (max-width: 860px) {
  .text_animation {
    bottom: 22%;
    font-size: 28px;
    --lh: 38px;
  }
}
@media (max-width: 768px) {
  .text_animation {
    font-size: 24px;
    --lh: 34px;
  }
}
@media (max-width: 600px) {
  .text_animation {
    bottom: 20%;
    font-size: 18px;
    --lh: 26px;
  }
}

/* ================================ */
/*  立繪區                          */
/* ================================ */
#tachie_holder {
  pointer-events: none;
  height: 0;
  position: relative;
  --one_w: calc(var(--main_w) * 0.9 / 6);
  --one_p: calc(var(--one_w) * 0.9);
}
.tachie {
  user-select: none;
  position: absolute;
  bottom: 0;
  --w: calc(var(--one_w) * var(--z, 1));
  width: var(--w);
  left: calc(var(--one_p) * var(--l, 0) + var(--one_p) / 2);
  margin-left: 0;
  transition: .6s;
}
.tachie[style*="--c"] {
  left: calc(50% - var(--w) / 2);
  margin-left: calc(var(--one_p) * var(--c, 0));
}
.tachie[style*="--r"] {
  left: calc(100% - var(--w));
  margin-left: calc(var(--one_p) * var(--r, 0) * -1 - var(--one_p) / 2);
}
.tachie[state="隱藏"] { display: none; }
.tachie[state="暗"] { filter: brightness(0.3); }
.tachie[state="黑"] { filter: brightness(0); }

/* ================================ */
/*  選項區                          */
/* ================================ */
#opts_holder {
  position: relative;
  z-index: 100;
  margin-left: auto;
  width: max-content;
  height: 0;
  display: grid;
  align-content: end;
}
#opts_holder button {
  all: unset;
  max-width: 280px;
  min-width: 90px;
  text-align: center;
  background: #000c;
  backdrop-filter: blur(2px);
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  #opts_holder button {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    max-width: 200px;
  }
}
@media (max-width: 560px) {
  #opts_holder button {
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    max-width: 120px;
  }
}

/* ================================ */
/*  長文字                          */
/* ================================ */
#long_text_holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(74% - 8px);
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  justify-content: center;
  align-content: center;
}
#long_text_holder:has(#long_text:empty) {
  opacity: 0;
  pointer-events: none;
}
#text_holder:has(#text:empty) + #long_text_holder {
  height: 100%;
}
#long_text_bg {
  position: relative;
  z-index: 200;
  margin: auto;
  padding: 10px 8px;
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  background: #000c;
  backdrop-filter: blur(2px);
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 -2px 4px #fff1;
  display: grid;
  grid-template-rows: 1fr;
}
#long_text_holder[size="L" i] { grid-template-columns: 90%; }
#long_text_holder[size="M" i] { grid-template-columns: 70%; }
#long_text_holder[size="S" i] { grid-template-columns: 50%; }
#long_text {
  height: 100%;
  padding: 0 8px;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: #fff #0000;
  white-space: pre-wrap;
}
#long_text h1, #long_text h2, #long_text h3 {
  all: unset;
  display: block;
  font-weight: bold;
  line-height: 1.4em;
  margin: 4px 0;
}
#long_text h1 { font-size: 1.9em; }
#long_text h2 { font-size: 1.6em; }
#long_text h3 { font-size: 1.3em; }
#long_text h6 {
  all: unset;
  display: block;
  line-height: 1.6em;
  font-size: 0.8em;
  opacity: .5;
}
#long_text hr {
  all: unset;
  display: block;
  height: 1px;
  background: #fff6;
  width: 100%;
  margin: 1em 0;
}
#long_text a {
  all: unset;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
  padding: 0 2px;
}

/* ================================ */
/*  文字方框                        */
/* ================================ */
#text_holder {
  position: relative;
  z-index: 100;
  background: #000c;
  backdrop-filter: blur(2px);
  height: calc(var(--main_h) * 0.24);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  display: grid;
  grid-template-rows: auto 1fr;
  box-shadow: 0 -2px 4px #fff1;
}
#text_holder:has(#text:empty) {
  opacity: 0;
  pointer-events: none;
}
#name {
  font-weight: bold;
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  margin-bottom: 6px;
}
#name:empty { height: 0; }
#text {
  padding: 0 8px;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: #fff #0000;
}
@media (max-width: 768px) {
  #name, #long_text_name {
    font-size: 16px;
    height: 22px;
    line-height: 22px;
  }
  #text, #long_text {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 560px) {
  #name, #long_text_name {
    font-size: 14px;
    height: 18px;
    line-height: 18px;
  }
  #text, #long_text {
    font-size: 12px;
    line-height: 18px;
  }
}
